@font-face {
  font-family: 'Clash Display Variable';
  src: url("./ClashDisplay-Variable.ttf");
}
@font-face {
  font-family: 'Clash Display Variable';
  src: url("./ClashDisplay-Semibold.otf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}