@font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Variable.ttf");
  }
  @font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Semibold.otf");
  }